<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>ControllerServlet</servlet-name>
        <servlet-class>Controllers.ControllerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OnlineStoreServlet</servlet-name>
        <servlet-class>Sales.Servlets.OnlineStoreServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddToCartServlet</servlet-name>
        <servlet-class>Sales.Servlets.AddToCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddToCartErrServlet</servlet-name>
        <servlet-class>Sales.Servlets.AddToCartErrServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewCartServlet</servlet-name>
        <servlet-class>Sales.Servlets.ViewCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckoutServlet</servlet-name>
        <servlet-class>Sales.Servlets.CheckoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CompleteCheckoutServlet</servlet-name>
        <servlet-class>Sales.Servlets.CompleteCheckoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewOrderServlet</servlet-name>
        <servlet-class>Sales.Servlets.ViewOrderServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ControllerServlet</servlet-name>
        <url-pattern>/ControllerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OnlineStoreServlet</servlet-name>
        <url-pattern>/OnlineStoreServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddToCartServlet</servlet-name>
        <url-pattern>/AddToCartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddToCartErrServlet</servlet-name>
        <url-pattern>/AddToCartErrServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewCartServlet</servlet-name>
        <url-pattern>/ViewCartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckoutServlet</servlet-name>
        <url-pattern>/CheckoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CompleteCheckoutServlet</servlet-name>
        <url-pattern>/CompleteCheckoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewOrderServlet</servlet-name>
        <url-pattern>/ViewOrderServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>ControllerServlet</welcome-file>
    </welcome-file-list>
    <error-page>
        <error-code>500</error-code>
        <location>/500Error.html</location>
    </error-page>
    <error-page>
        <error-code>400</error-code>
        <location>/400Error.html</location>
    </error-page>
    <error-page>
        <error-code>404</error-code>
        <location>/404Error.html</location>
    </error-page>
</web-app>
