USE [master]
GO
/****** Object:  Database [PRJ321_SE61546_lab5]    Script Date: 09/23/2015 23:01:22 ******/
CREATE DATABASE [PRJ321_SE61546_lab5] ON  PRIMARY 
( NAME = N'PRJ321_SE61546_lab5', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.SQL2008\MSSQL\DATA\PRJ321_SE61546_lab5.mdf' , SIZE = 2048KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'PRJ321_SE61546_lab5_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.SQL2008\MSSQL\DATA\PRJ321_SE61546_lab5_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PRJ321_SE61546_lab5].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PRJ321_SE61546_lab5]
GO
/****** Object:  Table [dbo].[TBL_Account]    Script Date: 09/23/2015 23:01:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TBL_Account](
	[Username] [varchar](20) NOT NULL,
	[Password] [varchar](20) NOT NULL,
	[Lastname] [varchar](40) NOT NULL,
	[isAdmin] [bit] NOT NULL,
 CONSTRAINT [PK_TBL_Account] PRIMARY KEY CLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[TBL_Account] ([Username], [Password], [Lastname], [isAdmin]) VALUES (N'hau', N'123456', N'Cong Hau', 1)
INSERT [dbo].[TBL_Account] ([Username], [Password], [Lastname], [isAdmin]) VALUES (N'hau2', N'123456', N'Cong Hau', 0)
INSERT [dbo].[TBL_Account] ([Username], [Password], [Lastname], [isAdmin]) VALUES (N'hau5', N'123456', N'Cong Hau', 1)
